#projects {
    background-color: #171C28;
    padding: 80px 0;
}

#projects h2 {
    padding: 10px;
}
#btn-project{
    position: relative;
    right: 50px;
}

@media(max-width : 768px){
    #projects {
        position: relative;
        margin-left: 30px;
        margin: 30px 0px;

}
}