.services{
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left:30em;
    /* bottom: 15rem; */
    
}

@media(max-width : 768px){
    .services{
        display: flex;
        /* align-items: center; */
        /* margin-top: 5rem; */
        /* padding-right: 5px; */
        flex-direction:row;
        right: 27rem;
        /*  */
        align-items: center;
        margin-top: 5rem;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        max-width: 960px;

    }
}