@media(max-width : 768px){
    .edu-custom{
        border-bottom: 2px solid var(--color-yellow);
        border-style:double;
        padding: 30px;
}
}



.edu-custom{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
}