#education h3{
    padding-right: 20px;
    margin-top: 10px;
    
}
#education p{
    color: var(--color-yellow);
    color: y;
}
#education img{
    width: 150px;
}

@media(max-width : 768px){
    #education{
        position: relative;
        margin-left: 30px;
        padding-right: 20px;
        /* margin-right: 60px; */
    }
}