:root{
  --color-dark : #27292a;
  --color-light : #fff;
  --color-blue : #2E86C1;
  --color-orang :  #FF5733;
  --color-green : #8EBC3C;
  --color-red : #ff0505;
  --color-yellow:#fdf910;
  --border-main :  15px;

}
body{
    margin: 0;
    background-color: #171C28;
  }
a{
  color: var(--color-light);
}
.main{
  color: var(--color-light);
  /* display: inline-flex; */
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  border-radius: var(--border-main);
  /* height: 110vh; */
  -webkit-border-radius: var(--border-main);
  -moz-border-radius: var(--border-main);
  -ms-border-radius: var(--border-main);
  -o-border-radius: var(--border-main);
}
.title{

  font-weight: 700;
  padding-bottom: 20px;
  color: var(--color-red);
  text-align: center;
}
*{
  cursor: none;
}